*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

input,
button,
select,
textarea {
  font: inherit;
}

img,
picture {
  display: block;
  max-width: 100%;
}

/* remove animation for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  padding: 0 30px 40px;
}

.menuleft {
  max-width: 100%;
  width: 240px;
  height: 936px;
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
}

.menuright {
  width: 330px;
  height: 936px;
  background-color: yellow;
  position: fixed;
  right: 0;
  top: 0;
}

.main {
  padding: 10px 360px 0 270px;
  background-color: #170F23;
}

.header {
  display: flex;
  align-items: center;
  padding-bottom: 35px;
}
.header-icons-left {
  margin-right: 25px;
  font-size: 20px;
  color: #443D4D;
}
.header-icon-left {
  margin-right: 25px;
}
.header-search {
  padding: 12px;
  width: 540px;
  border-radius: 20px;
  border: 0;
  outline: none;
}
.header-icons-right {
  color: #443D4D;
  margin-left: auto;
  font-size: 20px;
}
.header-icon-right {
  border: 1px solid #dddddd;
  padding: 10px;
  width: 20px;
  height: 20px;
  border-radius: 100rem;
  font-size: 20px;
  margin-left: 10px;
}

.icon-shirt {
  color: linear-gradient(90deg, #940909 0%, #170cd9 30%, #490b86 58%, #ffa600 100%);
  color: white;
}
.icon-upload {
  color: white;
}
.icon-settings {
  color: white;
}
.icon-person {
  color: white;
  background-color: #ccc;
}

.banner {
  display: flex;
  margin-bottom: 50px;
}
.banner-img {
  border-radius: 10px;
  width: 390px;
  height: 220px;
  object-fit: cover;
  background-image: url(https://znews-stc.zdn.vn/static/topic/person/ducphuc.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}
.banner-img:not(:last-child) {
  margin-right: 30px;
}

.history-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.history-title {
  color: white;
  text-transform: capitalize;
}
.history-show {
  display: flex;
  align-items: center;
  color: #78747F;
  text-transform: uppercase;
  font-size: 13px;
  opacity: 0;
  transition: all 0.4s linear;
}
.history-show:hover {
  opacity: 1;
  color: #47265B;
  cursor: pointer;
}
.history-img {
  width: 150px;
  height: 150px;
  background-image: url(https://znews-stc.zdn.vn/static/topic/person/ducphuc.jpg);
  background-size: cover;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.history-album {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0 30px;
}
.history-icon {
  color: white;
  font-size: 20px;
  transition: all 0.2s linear;
  opacity: 0;
}
.history-icon-play {
  opacity: 0;
  border: 1px solid white;
  border-radius: 100px;
  padding: 10px;
  font-size: 22px;
  margin-left: 20px;
  margin-right: 15px;
  color: white;
}
.history-icon:hover {
  opacity: 1;
  display: block;
  cursor: pointer;
  border: 0px solid white;
  border-radius: 100px;
  background-color: #bbb;
  padding: 8px;
}
.history-icon-play:hover {
  display: block;
  opacity: 0.7;
  background-color: inherit;
  cursor: pointer;
}
.history-name {
  color: white;
  font-weight: bold;
  margin-top: 10px;
  font-size: 14px;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.history-name:hover {
  color: #954BB6;
  cursor: pointer;
}

.suggest-title {
  color: white;
  text-transform: capitalize;
  margin-bottom: 25px;
}
.suggest-album {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0 25px;
}
.suggest-img {
  width: 225px;
  height: 225px;
  background-image: url(https://znews-stc.zdn.vn/static/topic/person/ducphuc.jpg);
  background-size: cover;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.suggest-icon {
  color: white;
  font-size: 24px;
  transition: all 0.2s linear;
  opacity: 0;
}
.suggest-icon-play {
  opacity: 0;
  border: 1px solid white;
  border-radius: 100px;
  padding: 10px;
  font-size: 26px;
  margin-left: 20px;
  margin-right: 15px;
  color: white;
}
.suggest-icon:hover {
  opacity: 1;
  display: block;
  cursor: pointer;
  border: 0px solid white;
  border-radius: 100px;
  background-color: #bbb;
  padding: 8px;
}
.suggest-icon-play:hover {
  display: block;
  opacity: 0.7;
  background-color: inherit;
  cursor: pointer;
}
.suggest-name {
  color: white;
  font-weight: bold;
  margin-top: 10px;
  font-size: 14px;
  text-transform: capitalize;
}
.suggest-name:hover {
  color: #954BB6;
  cursor: pointer;
}
.suggest-singer {
  font-size: 13px;
  color: #78747F;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 100%;
  word-break: break-word;
  margin-bottom: 40px;
}
.suggest-singer:hover {
  color: #954BB6;
  text-decoration: underline;
  cursor: pointer;
}

.bestchoice-title {
  color: white;
  text-transform: capitalize;
  margin-bottom: 25px;
}
.bestchoice-album {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0 25px;
}
.bestchoice-img {
  width: 225px;
  height: 225px;
  background-image: url(https://znews-stc.zdn.vn/static/topic/person/ducphuc.jpg);
  background-size: cover;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bestchoice-icon {
  color: white;
  font-size: 24px;
  transition: all 0.2s linear;
  opacity: 0;
}
.bestchoice-icon-play {
  opacity: 0;
  border: 1px solid white;
  border-radius: 100px;
  padding: 10px;
  font-size: 26px;
  margin-left: 20px;
  margin-right: 15px;
  color: white;
}
.bestchoice-icon:hover {
  opacity: 1;
  display: block;
  cursor: pointer;
  border: 0px solid white;
  border-radius: 100px;
  background-color: #bbb;
  padding: 8px;
}
.bestchoice-icon-play:hover {
  display: block;
  opacity: 0.7;
  background-color: inherit;
  cursor: pointer;
}
.bestchoice-name {
  color: white;
  font-weight: bold;
  margin-top: 10px;
  font-size: 14px;
  text-transform: capitalize;
}
.bestchoice-name:hover {
  color: #954BB6;
  cursor: pointer;
}
.bestchoice-desc {
  font-size: 13px;
  color: #78747F;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 100%;
  word-break: break-word;
  margin-bottom: 40px;
}
.bestchoice-desc:hover {
  color: #954BB6;
  text-decoration: underline;
  cursor: pointer;
}

/*# sourceMappingURL=app.css.map */
