.banner {
    display: flex;
    margin-bottom: 50px;
    &-img {        
        border-radius: 10px;
        width: 390px;
        height: 220px;
        object-fit: cover;
        background-image: url(https://znews-stc.zdn.vn/static/topic/person/ducphuc.jpg);
        background-size: cover;
        background-position: center;
        color: white;
    }
    &-img:not(:last-child) {
        margin-right: 30px;
    }
}